h1{
text-align: center;
}
body{

  background-color: lightyellow;  
}
form{

text-align: center;
height: 200px;

}

button{
background-color:blue;
width: 120px;
height: 60px;
color: rgba(255, 255, 255, 0.9) !important;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  position: relative;


}

button:hover{

    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

.for{
 height: 400px;
 width: 200px;
 background-color: lightblue;
 width:400px; 
 margin:0 auto;

 border: solid 5px red;
}