div{

    text-align: center; 
    font-family: arial, helvetica, roboto, "new times roman", lato;
 
 }

 body{
    margin: 0;
    padding:0;
 }

 h1{

    color: black;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
 body{
     padding:top;
     background-image:url(https://fondosmil.com/fondo/17542.jpg)
 }
 
 
 
 .parallax {
     background-image: url(https://estaticos.qdq.com/swdata/home_photos/009/009189734/f656f51b4e9847a2bdb0c25077e20641.jpg);
     height: 100%; 
     background-image: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
 
   .parallax1 {
     background-image: url(https://www.terranostrum.es/images/content/full/un-paseo-la-alberca-20.jpg);
     height: 100%; 
     background-image: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
 
 
 
   .parallax2 {
     background-image: url(https://www.terranostrum.es/images/content/full/un-paseo-la-alberca-21.jpg);
     height: 100%; 
     background-image: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
   
   .parallax3 {
     background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/96921934.jpg?k=f83c2de6872e2618ac04bb03bb7beb10c8e18b4b270894575b79100fcfd674b3&o=&hp=1);
     height: 100%; 
     background-image: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
 
   th{


    background-color: yellowgreen;
    height: 50px;
    text-align: center;
   }

   td{

    background-color: rgb(68, 150, 68);
    height: 50px;
    text-align: center;
   }

.estrella{

height: 25px;

}

.contact_form {
    width:800px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(68, 150, 68);

}


input {
    background-color: yellowgreen;
    height: 40px;
    width: 600px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;

}


label{
    display: block;
    float: center;
}

button  {
    width: 520px;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.5s ease-in;
}


button:hover {
    height: 50px;
    border: 2px solid grey;
    background-color: rgb(0, 255, 234);

}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: relative;
  bottom: 0;
  width: 97,5%;
  text-align: center;
  background-color: grey;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  box-shadow: 5px 5px 5px #999;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mensaje{

  background-color: yellowgreen;
    height: 200px;
    width: 600px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}
   


.ull {
  display: flex;
  position: absolute;
  top: 780%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ull .lil {
  list-style: none;
}

.ull .lil .as {
  width: 150px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.ull .lil .as .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.ull .lil .as:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.ull .lil .as:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.ull .lil .as:hover:before {
  top: 0;
}

.ull .lil:nth-child(1) .as:before{
  background: #3b5999;
}

.ull .lil:nth-child(2) .as:before{
  background: #55acee;
}

.ull .lil:nth-child(3) .as:before {
  background: #0077b5;
}

.ull .lil:nth-child(4) .as:before {
  background: #dd4b39;
}

